body { background-color: #333; color: #fff; }
/*.category { color: #fff; }*/
hr { border: none; border-top: 1px solid #999; }

.button {
	/*flex: auto;
	align-self: stretch;*/
	display: inline-block;
	user-select: none;
	width: 150px; 
	text-align: center; 
	border-width: 1px;
	border-style: solid;
	margin: 1px;
	padding: 2px;
	border-color: #888; 
	background-color: #000;
	color: #eee;
}
div.checked {
	border-color: #ff0;
	background-color: #770;
	color: #ff9;	
}

div.button.config {
	border-color: #70b;
	background-color: #103;
}
div.button.config.checked {
	border-color: #c0f;
	background-color: #407;
	color: #eee;
}

#warning { background-color: #804; }
#save_notice { position: absolute; top: 0px; margin-top: -50px; background-color: #000; width: 98%; text-align: center; }

.hide { display: none; }
#wrap_code { position: absolute; left: 5px; top:40px; padding: 10px;  background-color: #000; }
#config_code { min-width: 25em; min-height: 5em; }
#sliders > div { display: inline-block; text-align: center; border: 1px solid #888; background-color: #000;  }
/*div.config { display: inline-block; }*/

/*.category { display: flex; flex-flow: row wrap; }*/